doctype html
html
  head
    title About Us
    link(rel='icon' href='../static/bg.jpg') 
    style
     
      include ../static/style2.css
  body
    nav#navbar
        ul
            li #[a(href="/") Home]
            li #[a(href="/about") About Us]
            li #[a(href="/info") Class Information]
            li #[a(href="/price") Pricing]
            li #[a(href="/shop") Swags]
            li #[a(href="/review") Rate Us]
            li #[a(href="/bot") Chat Bot]
            
        a(class='button' href='/register') REGISTER NOW!

    section#introSection
            div DANCE + ACADEMY
            div.small 
                | About Us
h1(style='text-align:center')
  u Our Dancer Team 
.row
  .column
    .card
      img.center(src='../static/RG.jpg' alt='Paris')
      .container69
        h2 
         u Raghav Juyal
        p.title DANCER &amp; ACTOR
        p
          | Raghav Juyal is an Indian dancer, choreographer, actor and television presenter. He has been called King of Slow Motion for his surreal dance moves in slow motion style and for his reinvention of the Slow Motion Walk in India.


        
          
  .column
    .card
      img.center(src='../static/RD.jpg' alt='Paris')
      .container69
        h2 
            u Remo D' Souza
        p.title  DANCER &amp; CHOREGHRAPHER &amp; DIRECTOR
        p
          | D'Souza is a Choreographer in bollywood films and music Videos. He has choreographed number of films. Remo made his television debut with the dance reality show Dance India Dance (DID). They trained 18 contestants in dance form of Ballet, Acrobatics, Mid-Air dancing, Contemporary, Bollywood and Hip-Hop.
        
          
  .column
    .card
      img.center(src='../static/SM.jpg' alt='Paris')
      .container69
        h2 
            u Shakti Mohan
        p.title DANCER  &amp; CHOREGHRAPHER
        p
          | Shakti Mohan is an Indian dancer, choreghrapher and a television personality. She is the winner of season 2 of Zee TV's dance reality show Dance India Dance and has been a captain in Dance Plus from 2015 to 2019. She also appeared in the fictional dance based teen series Dil Dosti Dance as parallel lead character. 
  #box2.bottom2
    nav.navbar
      ul
h5(style='text-align:center') Copyright  &copy; 2021 Dance+ Academy | #[a(href="/FAQ") FAQ] | Terms of Use | Privacy Policy | Refund Policy
