doctype html
style
      include ../static/style7.css
link(rel='icon' href='../static/bg.jpg') 
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title FAQ
h1 F.A.Q.
a(class='button' href='/') HomePage
details
  summary Question 1
  p
    | How do I get Started?
    
  p
    |Time to take your next…uhh first step! The intro lesson is how our students get started on the right foot. You’ll get your very own instructor at a time of your convenience, within business hours of course. 😉 We’ll go over the fundamentals of dance, introduce you to a couple of different styles, and get you comfortable with dancing. You’ll get to take us for a little test run, we’ll get to know what you like and how you’d like to learn, and then we’ll make a recommendation that suits your needs. We make it fun and easy, just call, text, email or message us and you’ll be dancing in no time!
  
details
  summary Question 2
  p
    | Why should I learn to dance?
  p 
    | By stepping onto the dance floor, you are improving many areas of your life. It will not only boost your confidence, mood and social skills, but your body tone and posture, too. Learning to dance is more than an investment in technique; it is an investment in a fun and healthier lifestyle.
details
  summary Question 3
  p
    | What is the fastest way to become a better dancer?
  p  
    | The key to improving your dance skills is a well-rounded, balanced program that incorporates all aspects of dance instruction. We have a 3-part system: group classes, private lessons, and social dance parties. Utilizing all three will help you progress quickly, as each service compliments the other.

details
  summary Question 4
  p
    | Is there an age limit?
  p
    | Dancing is a natural and ageless form of expression. Although dance has no age restrictions, our studios our catered primarily towards adults looking to learn something new and have fun doing it. However, we do offer private lessons and select master classes for competitive youth dancers who are looking to take their skills to the next level.
details
  summary Question 5
  p
    | What should I wear for the classes? Do I need dance shoes?
  p
    | Dancing is about movement and enjoyment. We recommend wearing comfortable clothing that allows you to be flexible and relaxed.You can wear anything you want for your first lesson. Afterwards, we will recommend something based on the style and direction you choose.Please avoid stilettos or shoes with sharp heels as those are not comfortable to dance in, and they may damage our floor.
  p
    | Dance shoes are recommended but not required. However, in order to be able to move comfortably across the floor, we advise that you do not wear rubber-soled shoes.Sharp heels or shoes with metal bottoms are strongly discouraged because they can damage the floor or cause injury.
footer#footer
        h5 Copyright &copy; 2021 Dance+ Academy | #[a(href="/FAQ") FAQ] | Terms of Use | Privacy Policy | Refund Policy