doctype html
html
  head
    title Pricing
    link(rel='icon' href='../static/bg.jpg') 
    style
      include ../static/style5.css
  body
    nav#navbar
        ul
            li #[a(href="/") Home]
            li #[a(href="/about") About Us]
            li #[a(href="/info") Class Information]
            li #[a(href="/price") Pricing]
            li #[a(href="/shop") Swags]
            li #[a(href="/review") Rate Us]
            li #[a(href="/bot") Chat Bot]
            

        a(class='button' href='/register') REGISTER NOW!

    section#introSection
            div DANCE + ACADEMY
            div.small
                | Pay Your Registration Fee Now
    section#paySection
         h2 
            u 
            img(src='../static/price.PNG')
            a(href='/register' class="button2") PAY NOW

            

    

    footer#footer
        h5 Copyright  &copy; 2021 Dance+ Academy | #[a(href="/FAQ") FAQ] | Terms of Use | Privacy Policy | Refund Policy
    

    